@import url("https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}
.Home h1 {
  font-size: 50px;
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
  color: #a8071a;
}
.Home form {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.39);
  margin-bottom: 30px;
}
.Home input {
  line-height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 400px;
  padding: 0 20px;
}
.Home input:focus {
  outline: none;
}
.Home button {
  line-height: 40px;
  border: none;
  background-color: #f6f6f6;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.Home button:focus {
  outline: none;
}
